.App {
  height: 100vh;
  background-color: #F5F7FB;
}

.Start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Start--title {
  font-size: 3rem;
}

.Start--description {
  font-weight: 400;
  margin-top: 10px;
}

.Start--title, .Start--description, .Question--title {
  color: #293264;
}

.Start--button {
  background-color: #4D5B9E;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 50px;
  padding: 20px 80px;
}

.AllQuestion {
  height: 100vh;
  padding: 10px 150px;
}

.Question {
  margin-bottom: 30px;
}

.Question--title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Question--answer {
  font-family: 'Inter', sans-serif;
}

.Choices {
  border-radius: 7px;
  border: 1px solid grey;
  padding: 5px 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}